body {
    /*background-image: url("/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:fixed;*/
     background: url("/images/bg.jpg") no-repeat top center fixed; 
    overflow-x: hidden;	
	
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    
}
@media (max-width:767px){
    body{
        background-color: gray;
background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
    }
}
header {
    background: #808080;
}


.navmenu {
    background: #808080;
    width: 200px;
}

    .navmenu li a {
        color: #ffffff;
        font-weight: bold;
    }

        .navmenu li a:hover {
            background-color: rgba(175, 175, 175, 0.7);
        }

    .navmenu li.active {
        background-color: rgba(175, 175, 175, 0.7);
    }


.nav-pos li a {
    margin-top: 25px;
    padding: 20px;
    color: #ffffff;
    font-weight: bold;
}

    .nav-pos li a:hover {
        background-color: rgba(175, 175, 175, 0.7);
    }

.nav-pos li.active {
    background-color: rgba(175, 175, 175, 0.7);
}

.navbar-inner {
    background-color: #acacac;
}

.footer {
    
    padding:10px 0;
    margin-top:20px;
}

.btn.btn-default {
  background-color: #acacac;
}
.row.myrow{
    margin-top:50px;
}
/*#main{
    margin-bottom:150px;
}*
>992
main{
	min-height:500px;
	margin-bottom:10px;
}*/